<!--this is /usr/local/lib/python2.7/dist-packages/django_messages/templates/django_messages/base.html -->
{% extends "blocbox/base.html" %}

{% load i18n %}
{% load url from future %} 
{% block bodyclass %}about{% endblock %}





{% block sidebar %}
<div class="col-xs-12 col-sm-4>
	<ul class="subnavilist">
    <li><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
    <li><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
    <li><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}  

	<div class="col-xs-12 col-sm-8">
		
		{% block messagingcontent %}
		{% endblock %}

	</div>

{% endblock %}






